<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <display-name>Archetype Created Web Application</display-name>

    <!-- MAPEAMENTO FILTRO -->
    <filter>
        <filter-name>filterCors</filter-name>
        <filter-class>br.gov.sp.fatec.saloon.controller.entity.tools.FilterCors</filter-class>
    </filter>
    <filter>
        <filter-name>filterServlet</filter-name>
        <filter-class>br.gov.sp.fatec.saloon.controller.entity.tools.FilterServlet</filter-class>
    </filter>

    <filter>
        <filter-name>filterAuth</filter-name>
        <filter-class>br.gov.sp.fatec.saloon.controller.entity.tools.FilterAuth</filter-class>
        <init-param>
            <param-name>username</param-name>
            <param-value>admin</param-value>
        </init-param>
        <init-param>
            <param-name>password</param-name>
            <param-value>tres</param-value>
        </init-param>
        <init-param>
            <param-name>realm</param-name>
            <param-value>SALOON</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>filterCors</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>filterServlet</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>filterAuth</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- MAPEAMENTO CLASSES -->
        <!-- MAIN -->
                <servlet>
                    <servlet-name>mainServlet</servlet-name>
                    <servlet-class>br.gov.sp.fatec.saloon.controller.MainController</servlet-class>
                </servlet>

        <!-- PROPRIETARIO-->    
                <servlet>
                    <servlet-name>proprietarioServlet</servlet-name>
                    <servlet-class>br.gov.sp.fatec.saloon.controller.entity.regi.ProprietarioController</servlet-class>
                </servlet>

        <!-- USUÁRIO -->
                <servlet>
                    <servlet-name>usuarioServlet</servlet-name>
                    <servlet-class>br.gov.sp.fatec.saloon.controller.entity.regi.UsuarioController</servlet-class>
                </servlet>

        <!-- USUÁRIO DADOS PESSOAIS -->
                <servlet>
                    <servlet-name>usuarioDadosPessoaisServlet</servlet-name>
                    <servlet-class>br.gov.sp.fatec.saloon.controller.entity.regi.UsuarioDadosPessoaisController</servlet-class>
                </servlet>

        <!-- ============================================================================================================ -->
        <!-- MAPEAMENTO URL -->
        <!-- MAIN -->
                <servlet-mapping>
                    <servlet-name>mainServlet</servlet-name>
                    <url-pattern>/</url-pattern> <!-- Por responder dentro do / deletamos o index.jsp -->
                </servlet-mapping>

        <!-- PROPRIETÁRIO-->        
                <servlet-mapping>
                    <servlet-name>proprietarioServlet</servlet-name>
                    <url-pattern>/proprietario</url-pattern>
                </servlet-mapping>

        <!-- USUÁRIO -->
                <servlet-mapping>
                    <servlet-name>usuarioServlet</servlet-name>
                    <url-pattern>/usuario</url-pattern>
                </servlet-mapping>

        <!-- USUÁRIO DADOS PESSOAIS -->
                <servlet-mapping>
                    <servlet-name>usuarioDadosPessoaisServlet</servlet-name>
                    <url-pattern>/usuariodadospessoais</url-pattern>
                </servlet-mapping>
</web-app>
